* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f0f2f5;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.logo>img {
    height: 100px;
    width: 300px;
}

.loginBox {
    /* height: 800px; */
    width: 100%;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    padding: 25px 15px;
}

.login-form>p {
    font-size: 18px;
    text-align: center;
}

.login-form>input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(201, 201, 201);
    outline: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
}

.login-form>input:focus {
    outline: 2px solid black;
}

.login {
    width: 100%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.login>button {
    background-color: #166fe5;
    width: 100%;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.login>button:hover {
    background-color: #1260c5;
}

.login>button>a {
    text-decoration: none;
    color: white;
}

.loginLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.loginLinks>a {
    color: #0866ff;
    text-decoration: none;
    font-size: 14px;
}

.loginLinks>a:hover {
    text-decoration: underline;
}