@import url("../global.css");

.container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background-color: #f2f4f7;
}

.dashboard-header {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

.header-left .search-input {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #eeeeee;
    padding-left: 8px;
    border-radius: 25px;
}

.header-left .search-input>input {
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    background-color: transparent;
}

.header-left .search-input i {
    color: gray;
}

.header-left>img {
    width: 50px;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-center>div {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.header-center>div:hover {
    background-color: rgb(233, 233, 233);
}

.header-center>div>i {
    font-size: 20px;
    color: rgb(132, 132, 132);
}

.header-center>div:first-child {
    border-bottom: 3px solid #0866ff;
    border-radius: 0px;
    height: 100%;
}

.header-center>div:first-child:hover {
    background-color: white;
}

.header-center>div:first-child>i {
    color: #0866ff;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
}

.header-right .header-right-icons,
.header-right .user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right .header-right-icons>i {
    font-size: 20px;
}

.header-right>button {
    height: 40px;
    padding: 0px 15px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

.header-right .user-profile {
    border: 1px solid gray;
    position: relative;
}

.header-right .user-profile .profile-arrow {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: rgb(183, 183, 183);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.header-right .user-profile .profile-arrow>i {
    font-size: 12px;
}

.main {
    flex: 1;
    display: flex;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.main .user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d6d9dd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .left-sidebar>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .main .left-sidebar > div > i {
} */

.main .left-sidebar,
.main .chats {
    width: 300px;
}

.main>.center-layout {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main .center-layout .posts-container {
    height: 100%;
    width: 700px;
    max-width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posts-container>.create-post {
    display: flex;
    gap: 5px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.posts-container>.create-post>.post-button {
    flex: 1;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    text-align: left;
    padding: 15px;
    color: #606366;
    cursor: pointer;
}

.posts-container>.create-post>.post-button:hover {
    background-color: #dddfe2;
}

.posts-container>.create-post>.create-post-icons {
    display: flex;
    align-items: center;
}

.posts-container>.create-post>.create-post-icons>div {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-container>.create-post>.create-post-icons>div:hover {
    background-color: #f0f2f5;
    cursor: pointer;
}

.posts-container>.create-post>.create-post-icons>div>i {
    font-size: 20px;
}

.posts-container>.create-post>.create-post-icons>div:first-child {
    color: #e42645;
}

.posts-container>.create-post>.create-post-icons>div:nth-child(2) {
    color: #41b35d;
}

.posts-container>.create-post>.create-post-icons>div:nth-child(3) {
    color: #eab026;
}

/* .main > .chats {
  background-color: red;
} */

.story-container {
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
}

.story-container>.story {
    background-color: red;
    height: 200px;
    width: 120px;
    min-width: 120px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.story-container>.story>.profile-pic {
    height: 40px;
    width: 40px;
    border: 4px solid #075CE5;
    border-radius: 50%;
    overflow: hidden;
}

.story-container>.story>.profile-pic>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.story-container>.story>.story-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    background: linear-gradient(to top, #000, #00000000);
    width: 100%;
}

.post {
    /* background-color: red; */
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.profile-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.profile-pic img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.post-caption {
    margin-bottom: 10px;
}

.post-icons i {
    cursor: pointer;
}

.post-image,
.post-reactions {
    margin-bottom: 10px;
}

.post-image img {
    height: 500px;
    width: 100%;
    min-width: 500px;
    object-fit: cover;
}

.post-reactions {
    display: flex;
    justify-content: space-between;

}

.post-reactions div {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.post-footer {
    display: flex;
    justify-content: space-evenly;
}


.post-reactions>div i,
.post-footer>div {
    cursor: pointer;
}

.post-user-detail #name {
    font-weight: bold;
}

.post {
    margin-bottom: 20px;
}

.fa-xmark:hover {
    padding: 10px;
    width: 40px;
    border-radius: 50%;
    background-color: #F6F8FA;
}